.navgator {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
  background-color: rgba(200, 200, 200, .95);

  .fa {
    display: block;
    text-align: center;
    font-size: 24px;
  }

  a {
    color: #111;
    text-decoration: none;
  }
}
